.card_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 50px;
}

.card {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;

}

.card:hover {
    animation: animate 0.9s ease-in-out;
}

.card_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: span 3;
    padding: 10px 0;
}

.card:hover {
    cursor: pointer;
    background-color: #bbb8b8;
    color: white;
}

.card_container p,
.card_container figure,
.card_container img,
.card_container .body_card {
    pointer-events: none;
}


.card {
    position: relative;
}